body{
    overflow-x: hidden;
}

/*
    Navbar
*/
#navbar{
    height: 70px;
    background-color: #000000;
    box-shadow: 2px 2px 7px #DCDCDC;
    top: 0;
}

.vazio{
    width: 100%;
    height: 70px;
}

/* 
    servicos
*/
#servicos{
    margin-top: 30px;
}

#servicos h1, #servicos h2{
    text-align: center;
    margin-bottom: 20px;
}

#servicos h1{
    font-family: BeVietnamPro-bold;
    color: #000000;
    font-size: 2rem;
}

#servicos h2{
    font-family: BeVietnamPro-medium;
    font-size: 1.2rem;
    margin-bottom: 70px;
}

#box-card-servicos{
    padding: unset;
    display: flex;
    align-items: center;
}

.card{
    width: 25rem;
    padding: 0 2.5% 2.5% 2.5%;
    margin: auto;
}

.card-servicos:hover{
    scale: 1.01;
}

.card-body{
    padding: unset;
}

.card-servico-icon{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 25px;
    margin-bottom: 15px;
}

.card-servico-icon div{
    width: 22%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdcdc;
}

.card-servico-icon div i{
    font-size: 4rem;
}

.card-title,.card-text{
    text-align: start;
    margin-bottom: 15px;
    font-size: 1rem;
    padding-left: 1%;
    padding-right: 1%;
}

.card-title{
    font-family: BeVietnamPro-medium;
}

/*
    cta - contato
*/

.cta-contato{
    width: 100%;
    height: 400px;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-contato div{
     width: 60%;
}

.cta-contato div h3{
    font-family: BeVietnamPro-medium;
    font-size: 1.8rem;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

.cta-contato div a{
    all:unset;
    text-decoration:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: BeVietnamPro-medium;
    box-sizing: border-box;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #FF601A;
    border-radius: 0rem;
    width:250px;
    height: 60px;
    margin: auto;
}

.cta-contato div a:hover{
    cursor:pointer;
    border: unset;
    scale: 1.01;
}

/* 
    depoimentos
*/
#depoimentos{
    margin-top: 70px;
}

#depoimentos h1, #depoimentos h2{
    text-align: center;
    margin-bottom: 20px;
}

#depoimentos h1{
    font-family: BeVietnamPro-bold;
    color: #000000;
    font-size: 2rem;
}

#depoimentos h2{
    font-family: BeVietnamPro-medium;
    font-size: 1.2rem;
    margin-bottom: 70px;
}

#box-card-depoimentos{
    padding: unset;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0 5%;
}

#box-card-depoimentos > :nth-child(even){
    position: relative;
    left: 20%;
}

.depoimento{
    width: 80%;
    box-shadow: 1px 1px 7px #DCDCDC;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 15px 40px;
}

.depoimento .img-empresa img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 1px 1px 8px #DCDCDC;
    position: relative;
    top: 30px;
}

.depoimento p{
    padding: 0 10%;
    font-family: BeVietnamPro-medium;
}

.depoimento a{
    text-decoration: none;
    color: #074058;
}

.depoimento .nome{
    color: #FF601A;
    text-align: end;
}




@media screen and (max-width:1200px){

    .vazio{
        display: inline-block;
        height: 70px;
    }

    /* 
        servicos
    */
    
    #box-card-servicos{
        display: unset;
    }

    .card{
        margin-bottom: 70px;
    }

    /*
        cta - contato
    */

    .cta-contato{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cta-contato div{
        padding-top: unset;
        padding-right: 5%;
    }

    .cta-contato div h3{
        font-size: 1.6rem;
    }

    /* 
        depoimentos
    */

    #box-card-depoimentos{
        display: inline-block;
        align-items: center;
        width: 100%;
        padding: 0 2.5%;
    }

    #box-card-depoimentos > :nth-child(even){
        position: unset;
        left: 0;
    }

    .depoimento{
        width: 90%;
        padding: 15px 40px;
        margin: auto;
        margin-bottom:40px;

    }

    .depoimento .img-empresa{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .depoimento .img-empresa img{
        width: 70px;
        height: 70px;
        position: unset;
        top: 00px;
    }

    .depoimento p{
        padding: 0 0.5%;
        text-align: center;
        margin-bottom: 15px;
    }

    .depoimento .nome{
        text-align: center;
    }

}


@media screen and (max-width:800px){

    .vazio{
        display: inline-block;
        height: 70px;
    }


    
}


@media screen and (max-width:600px){

    /* 
        servicos
    */

    .card{
        width: 90%;
    }

    /*
        cta - contato
    */

    .cta-contato div h3{
        font-size: 1.3rem;
    }
   
}
