/*
    Navbar
*/
#navbar{
    height: 70px;
    background-color: #000000;
    box-shadow: 2px 2px 7px #DCDCDC;
    top: 0;
}

.vazio{
    width: 100%;
    height: 70px;
}

/*
    sobre nos
*/

#sobre-nos{
    margin-top: 20px;
}

#img-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-sobre img{
    width: 70%;
    height: 90%;
}

#info-sobre{
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

#info-sobre h1, #info-sobre h2{
    font-family: BeVietnamPro-bold;
    font-size: 2rem;
    color: #000000;  
    margin-bottom: 40px;
}

#info-sobre h2{
    font-size: 1.8rem;
}

#info-sobre h1{
    text-align: center;
}

#info-sobre p{
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#btns-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#btns-sobre a{
    all:unset;
    text-decoration:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: BeVietnamPro-medium;
    box-sizing: border-box;
    font-size: 1rem;
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 0rem;
    width:250px;
    height: 60px;
}

#btns-sobre a:hover{
    cursor:pointer;
    border: unset;
    scale: 1.01;
}

#btns-sobre div:first-child a{
    color: #FFFFFF;
    background-color: #000000;
}

#btns-sobre div:first-child a:hover{
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}

#btns-sobre div:last-child a{
    color: #000000;
    background-color: #FFFFFF;
    margin-left: 20px;
}

#btns-sobre div:last-child a:hover{
    color: #FFFFFF;
    background-color: #000000;
}

/*
    Saiba mais
*/

.box-saiba-mais{
    width: 100%;
    align-content: center;
    z-index: 1005;
    background-color: #FFFFFF;
    padding: 2.5% 2.5%;
    display: inline-block;
    margin-top: 70px;
}


.box-saiba-mais-aberto{
    display: flex;
    align-items: center;
    justify-items: center;
}

.box-saiba-mais-aberto h2, .box-saiba-mais-aberto p{
    color: #000000;    
}

.box-saiba-mais-aberto h2{
   text-align: center;
   margin-bottom: 40px;
   font-family: BeVietnamPro-medium;
}

.box-saiba-mais-aberto p{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 25px 3% 25px 3%;
}

.box-saiba-mais-aberto p::-webkit-scrollbar{
    width:5px;
}

.box-saiba-mais-aberto p::-webkit-scrollbar-track{
    background-color: transparent;
}

.box-saiba-mais-aberto p::-webkit-scrollbar-thumb{
    background-color: #DCDCDC;
    border-radius: 40px;
}

/* 
    Nosso time
*/

#time{
    margin-top: 70px;
}

#time h1, #time h2{
    text-align: center;
    margin-bottom: 20px;
}

#time h1{
    font-family: BeVietnamPro-bold;
    color: #000000;
    font-size: 2rem;
}

#time h2{
    font-family: BeVietnamPro-medium;
    font-size: 1.2rem;
    margin-bottom: 70px;
}

#box-card-time{
    padding: unset;
    display: flex;
    align-items: center;
}

.card-time{
    width: 15rem;
    height: 300px;
    padding: unset;
    margin: auto;
}

.card-time:hover{
    scale: 1.01;
}

.card-time-body{
    padding: unset;
}

.img-time{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.img-time img{
    width: 100%;
    height: 100%;
}

.card-time-title,.card-time-text{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1rem;
    padding-left: 1%;
    padding-right: 1%;
}

.card-time-title{
    font-family: BeVietnamPro-medium;
}

.redes-time{
    text-align: center;
}

.redes-time a{
    text-decoration: none;
}

.redes-time i{
    color: #074058;
    font-size: 1.5rem;
    margin-right: 10px;
}

.redes-time i:hover{
    cursor: pointer;
    color: #000000;
}

/*
    cta - contato
*/

.cta-contato{
    width: 100%;
    height: 400px;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-contato div{
     width: 60%;
}

.cta-contato div h3{
    font-family: BeVietnamPro-medium;
    font-size: 1.8rem;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

.cta-contato div a{
    all:unset;
    text-decoration:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: BeVietnamPro-medium;
    box-sizing: border-box;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #FF601A;
    border-radius: 0rem;
    width:250px;
    height: 60px;
    margin: auto;
}

.cta-contato div a:hover{
    cursor:pointer;
    border: unset;
    scale: 1.01;
}




@media screen and (max-width:1200px){

    .vazio{
        display: inline-block;
        height: 70px;
    }
    
    /*
        sobre nos
    */

    #sobre-nos{
        margin-top: 40px;
    }

    #img-sobre{
        width: 100%;
    }

    #img-sobre img{
        width: 50%;
        height: 80%;
    }

    #info-sobre{
        width: 100%;
    }
    
    /* 
        Nosso time
    */

    #box-card-time{
        width: 100%;
        padding: unset;
        display: inline-block;
        text-align: center;
    }

    .card-time{
        width: 15rem;
        height: 300px;
        padding: unset;
        margin: auto;
        margin-bottom: 50px;
    }

    /*
        cta - contato
    */

    .cta-contato{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cta-contato div{
        padding-top: unset;
        padding-right: 5%;
    }

    .cta-contato div h3{
        font-size: 1.6rem;
    }


}


@media screen and (max-width:800px){

    .vazio{
        display: inline-block;
        height: 100px;
    }

    /*
        sobre nos
    */

    #sobre-nos{
        margin-top: 20px;
    }

    #sobre-nos h2, #sobre-nos p{
        margin-top: 10px;
        text-align: center;
    }

    #info-sobre h1, #info-sobre h2{
        font-size: 1.5rem;
    }

    #img-sobre{
        margin-bottom: 10px;
    }

    #img-sobre img{
        width: 80%;
        height: 80%;
    }

}


@media screen and (max-width:600px){

    /*
        sobre nos
    */

    #img-sobre{
        margin-bottom: 70px;
    }

    #img-sobre{
        margin-bottom: 50px;
    }

    #img-sobre img{
        width: 90%;
        height: 105%;
    }

    #btns-sobre{
        display: inline-block;
        justify-items: center;
        width: 100%;
    }

    #btns-sobre div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: unset;
        padding: unset;
    }

    #btns-sobre div:last-child a{
        width: 100%;
        margin: auto;
        position: relative;
        top:20px;
    }
    
    #btns-sobre a{
        margin-top: 10px;
        width: 100%;
    }

    /*
        cta - contato
    */

    .cta-contato div h3{
        font-size: 1.3rem;
    }
    
}

