*{
    font-family: BeVietnamPro-regular;
    text-align: justify;
}

body{
    overflow-x: hidden;
}

/*
    Informação inicial da empresa
*/

#box-info-icons{
    background-color:#000000;
    height: 35px;
    border-bottom: 0.2px solid #DCDCDC;
    color: #000000;
    font-size: .9rem;
    padding-top: 7px;
    transition: .5s;
}

#box-info-icons.rolagem{
    display: none;
}

.info-icons{
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.info-icons div{
    height: 100%;
}

.texto-icons{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: .5rem;
    color: #FFFFFF;
}

.last-p-info-icons{
    margin-right: .5rem;
}

.icons-redes{
    text-decoration: none;
    margin-right: .4rem;
    color: #FFFFFF;
}

.icons-redes:hover{
    text-decoration: none;
    margin-right: .3rem;
    font-size: .95rem;
}

/*
    Navbar
*/

#navbar{
    background-color: transparent;
    height: 70px;
    transition: .5s;
    top: 35px;
}

#navbar.rolagem{
    background-color: #000000;
    box-shadow: 1px 1px 5px #DCDCDC;
    top: 0px;
}

.navbar-brand{
    width: 30%;
}

.navbar-brand img{
    width: 350px;
    height: 50px;
}

.navbar-nav{
    width: 100%;
    justify-content: end;
    padding-right: 12%;
}

.nav-link{
    color: #FFFFFF;
    font-family: BeVietnamPro-medium;
    font-size: 1rem;
}

.nav-link:hover{
    color: #FF601A;
}

/* 
    Footer
*/

footer{
    background-color: #074058;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;
}

#footer-part1{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

#footer-col1,#footer-col2,#footer-col3{
    padding-left: 5%;
    padding-right: 5%;
    height: 340px;
}

#footer-col1 img{
    width: 325px;
    height: 50px;
    margin-bottom: 20px;
}

#footer-col1 p{
    text-align: justify;
    font-size: 1.1rem;
}

.footer-icons-redes{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
    margin-right: 15px;
}

.footer-icons-redes:hover{
    font-size: 2.05rem;   
}

#footer-col2 h3{
    margin-bottom: 20px;
}

.footer-contato,.footer-links{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer-contato a, .footer-links a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-contato a:hover, .footer-links a:hover{
    font-size: 1.05rem;
}

#footer-col3 h3{
    margin-bottom: 20px;
}

.footer-contato i, .footer-links i{
    margin-right: 7px;
}

#footer-linha{
    width: 95%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

#footer-part2{
    padding-left: 2.5%;
}

@media screen and (max-width:1200px){

    /* 
        info icons
    */
    #box-info-icons{
        display: none;
    }

    /* 
        navbar
    */

    #navbar-contato{
        display: none;
    }

    #navbar{
        height: 70px;
        background-color: #000000;
        box-shadow: 2px 2px 7px #DCDCDC;
        top: 0px;
        visibility: visible;
    }
    
    #navbar div{
        background-color: #000000;
        padding: unset;
        position: relative;
        top: 0px;
    }
    
    .navbar-brand img{
        width: 250px;
        height: 40px;
    }

    .navbar-toggler{
        position: relative;
        right: 5%;
    }

    .navbar-collapse{
        background-color: #000000;
        position: relative;
        top: 50px;
        width: 100%;
    }

    .navbar-nav{
        width: 100%;
        padding-left: 15px;
    }


    /* 
        footer
    */

    #footer-part1{
        display: inline-block;
        align-items: center;
        padding-bottom: unset;
    }

    #footer-col1,#footer-col2,#footer-col3{
        margin-bottom: 70px;
        width: 100%;
        height: unset;
    }

    #footer-col1 img{
        width: 250px;
    }
    
}

@media screen and (max-width:800px){

    .navbar-nav{
        box-shadow: 1px 1px 2px #DCDCDC;
    }

}

@media screen and (max-width:350px){

    

}

